---
- name: Make directory to store cilium files
  ansible.builtin.file:
    path: "{{ dune_daq_conf_path | expanduser }}/cilium"
    state: directory
    mode: "0755"
    owner: "{{ ansible_effective_user_id }}"
    group: "{{ ansible_effective_group_id }}"

- name: "Install helm package {{ cilium_helm_repo_name }}/{{ cilium_helm_chart_name }} {{ cilium_helm_release_name }}"
  kubernetes.core.helm:
    binary_path: "{{ dune_daq_bin_path | expanduser }}/{{ helm_binary_name }}"
    name: "{{ cilium_helm_release_name }}"
    chart_ref: "{{ cilium_helm_repo_name }}/{{ cilium_helm_chart_name }}"
    namespace: "{{ cilium_namespace }}"
    chart_version: "{{ cilium_helm_version }}"
    create_namespace: "{{ cilium_create_namespace }}"
    state: present
    values: "{{ cilium_installation_values }}"

- name: Make prometheus resources YAML file
  ansible.builtin.copy:
    dest: "{{ dune_daq_conf_path | expanduser }}/cilium/prometheus_systemmonitor.yml"
    content: "{{ cilium_prometheus_values | to_yaml }}"
    mode: "0644"
    owner: "{{ ansible_effective_user_id }}"
    group: "{{ ansible_effective_group_id }}"
