---
- name: Make directory to store kube_prometheus files
  ansible.builtin.file:
    path: "{{ dune_daq_conf_path | expanduser }}/kube_prometheus"
    state: directory
    mode: "0755"
    owner: "{{ ansible_effective_user_id }}"
    group: "{{ ansible_effective_group_id }}"

- name: "Install helm package {{ kube_prometheus_helm_repo_name }}/{{ kube_prometheus_helm_chart_name }} {{ kube_prometheus_helm_release_name }}"
  kubernetes.core.helm:
    binary_path: "{{ dune_daq_bin_path | expanduser }}/{{ helm_binary_name }}"
    name: "{{ kube_prometheus_helm_release_name }}"
    chart_ref: "{{ kube_prometheus_helm_repo_name }}/{{ kube_prometheus_helm_chart_name }}"
    namespace: "{{ kube_prometheus_namespace }}"
    chart_version: "{{ kube_prometheus_helm_version }}"
    create_namespace: "{{ kube_prometheus_create_namespace }}"
    state: present
    values:
      grafana:
        adminPassword: "{{ kube_prometheus_grafana_password }}"
  #      prometheus:
  #        prometheusSpec:
  #          podMonitorNamespaceSelector:
  #            any: true
  #        ruleNamespaceSelector:
  #          any: true
  #        serviceMonitorNamespaceSelector:
  #          any: true
  #        probeNamespaceSelector:
  #          any: true
  #      alertmanager:
  #        alertmanagerSpec:
  #          alertmanagerConfigNamespaceSelector:
  #            any: true
  notify: prometheus installed
