---
kind_control_planes: 1
kind_workers: 1

kind_node_version: "{{ kubectl_requested_version.stdout }}"
kind_configure_kubectl: true

kind_binary_name: kind
kind_container_type_package_name: docker-ce
kind_container_type_service: docker.socket

kind_cluster_name: pocketdune
kind_cluster_ipfamily: ipv4
kind_cluster_pod_subnet: 10.244.0.0/16 # default for kind, but explicit here
kind_cluster_service_subnet: 10.96.0.0/12 # default for kind, but explicit here
kind_cluster_write_config: true
kind_cluster_disable_default_cni: false

kind_cluster_ensure: present

kind_load_docker_images:
  - "docker.io/grafana/grafana:9.2.2"
  - "docker.io/kubernetesui/dashboard:v2.7.0"
  - "docker.io/kubernetesui/metrics-scraper:v1.0.8"
#  - "quay.io/cilium/cilium:v1.12.3"
#  - "quay.io/cilium/operator-generic:v1.12.3"
#  - "quay.io/prometheus/node-exporter:v1.3.1"
#  - "quay.io/prometheus-operator/prometheus-config-reloader:v0.60.1"
#  - "quay.io/prometheus-operator/prometheus-operator:v0.60.1"
#  - "quay.io/prometheus/alertmanager:v0.24.0"
#  - "quay.io/prometheus/prometheus:v2.39.1"
#  - "registry.k8s.io/kube-state-metrics/kube-state-metrics:v2.6.0"

kind_cluster_portmappings: []
