---
kube_prometheus_helm_repo_name: prometheus-community
kube_prometheus_helm_chart_name: kube-prometheus-stack
kube_prometheus_helm_release_name: kube-prometheus-stack

kube_prometheus_ensure: present
kube_prometheus_helm_version: NULL
kube_prometheus_create_namespace: "yes"
kube_prometheus_namespace: monitoring

kube_prometheus_grafana_password: admin

kube_prometheus_general_selector:
  release: "kube-prometheus-stack"

kube_prometheus_rule_selector_niluseshelmvalues: true
kube_prometheus_rule_selector:
  matchLabels: "{{ kube_prometheus_general_selector }}"
kube_prometheus_rulenamespace_selector: {}

kube_prometheus_servicemonitor_selector_niluseshelmvalues: true
kube_prometheus_servicemonitor_selector:
  matchLabels: "{{ kube_prometheus_general_selector }}"
kube_prometheus_servicemonitornamespace_selector: {}

kube_prometheus_podmonitor_selector_niluseshelmvalues: true
kube_prometheus_podmonitor_selector:
  matchLabels: "{{ kube_prometheus_general_selector }}"
kube_prometheus_podmonitornamespace_selector: {}

kube_prometheus_probe_selector_niluseshelmvalues: true
kube_prometheus_probe_selector:
  matchLabels: "{{ kube_prometheus_general_selector }}"
kube_prometheus_probenamespace_selector: {}

kube_prometheus_alertmanagerconfig_selector: {}
kube_prometheus_alertmanagerconfignamespace_selector: {}

kube_prometheus_set_pod_security_admission: true
kube_prometheus_pod_security_enforce: privileged
kube_prometheus_pod_security_audit: baseline
kube_prometheus_pod_security_warn: baseline
