---
kube_prometheus_helm_repo_name: prometheus-community
kube_prometheus_helm_chart_name: kube-prometheus-stack
kube_prometheus_helm_release_name: kube-prometheus-stack

kube_prometheus_ensure: present
kube_prometheus_helm_version: NULL
kube_prometheus_create_namespace: "yes"
kube_prometheus_namespace: monitoring

kube_prometheus_pretty_service_names: true
kube_prometheus_grafana_password: admin

kube_prometheus_set_pod_security_admission: true
kube_prometheus_pod_security_enforce: privileged
kube_prometheus_pod_security_audit: baseline
kube_prometheus_pod_security_warn: baseline

kube_prometheus_podMonitorNamespaceSelector_any: false
kube_prometheus_ruleNamespaceSelector_any: false
kube_prometheus_serviceMonitorNamespaceSelector_any: false
kube_prometheus_probeNamespaceSelector_any: false
kube_prometheus_alertmanagerConfigNamespaceSelector_any: false
