---
- hosts:
    - all
    - localhost
  gather_facts: true

  vars:
    dune_daq_conf_path: /tmp/dune_daq_conf

  tasks:
    - name: Setup kind
      ansible.builtin.import_role:
        name: fermilab.dune_daq.kind_cluster
      vars:
        kubectl_version: v1.25.3
        kind_version: v0.17.0
        kind_node_version: v1.25.3@sha256:f52781bc0d7a19fb6c405c2af83abfeb311f130707a0e219175677e366cc45d1
        kind_cluster_disable_default_cni: true

        kind_cluster_force_create: true

        kind_cluster_portmappings:
          - containerPort: 80
            hostPort: 80
            protocol: TCP

    - name: Setup kubelet TLS bootstrap policy
      ansible.builtin.import_role:
        name: fermilab.dune_daq.kubelet_tls_bootstrap
      vars:
        kubelet_tls_bootstrap_create_csr: false
        kubelet_tls_bootstrap_auto_sign_token_csr: false
        kubelet_tls_bootstrap_auto_sign_renewal_csr: true

    - name: setup security audits
      ansible.builtin.import_role:
        name: fermilab.dune_daq.kubernetes_pod_security_defaults

    - name: setup cilium
      ansible.builtin.import_role:
        name: fermilab.dune_daq.cilium

    - name: setup prometheus
      ansible.builtin.import_role:
        name: fermilab.dune_daq.kube_prometheus

    - name: setup dashboard
      ansible.builtin.import_role:
        name: fermilab.dune_daq.kubernetes_dashboard
      vars:
        kubernetes_dashboard_helm_make_ro_role: "true"
        kubernetes_dashboard_helm_version: NULL
